<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.niuchuang.xzlibrary">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    <application
        android:name="tech.niuchuang.xzlibrary.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
